/* style reset */
* {
	padding: 0;
	margin: 0;
}

.nav-link {
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}
<<<<<<< HEAD
<<<<<<< Updated upstream
=======

a:hover {
=======
a:hover{
>>>>>>> fixSearch
	text-decoration: none;
	color: black;
	font-weight: bold;
}
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> fixSearch

.navbar-brand {
	font-weight: bolder;
	font-size: 2.5rem;
}

#navbar-logo-img {
	height: 10rem;
}

.navbar-collapse {
	justify-content: center;
}

.login-form {
	font-size: x-large;
}

.remove-follow-btn {
	text-align: center;

	vertical-align: middle;
	padding: 0;
	height: 60%;
	width: 55%;
}

.xl-spacer {
	padding-top: 10rem;
}

.l-spacer {
	padding-top: 7.5rem;
}

.spacer {
	padding-top: 5rem;
}

.md-spacer {
	padding-top: 3.5rem;
}

.sm-spacer {
	padding-top: 2rem;
}

.card {
	flex: 1;
}

.scrollable-card {
	overflow-y: scroll;
	height: 20rem;
	overflow-x: hidden;
}

/* uncomment this to make the scroll bar on search invisible
.scrollable-card::-webkit-scrollbar {
   display: none; 
} */


.result-card {
	padding-block: 1rem;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
}

.result-card:hover {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.result-card-description {
	color: #333333;
	max-height: 4em;
	line-height: 1.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}